<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="WPF_Desktop.Properties.Settings.SQLServerConection"
			 connectionString="Data Source=localhost;Initial Catalog=EdusisDB;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>